@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

body {
    background: #2a4a63;
    width: 100%;
    height: 100%;
}

input {
    border: none;
    outline: none;
}

.section {
    height: min-content;
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 20px;
    width: 70%;
    margin: auto;
    padding: 50px 0;
}

.card {
    width: 100%;
    height: 200px;
    background: #1f6cd6;
    display: grid;
    justify-items: center;
    align-items: center;
    box-shadow: #1a2533 10px 10px 20px;
}

.equation {
    color: #add7f6;
    font-size: 50px;
}

.input {
    width: 50px;
    border: none;
    height: 40px;
    background: #add7f6;
    text-align: end;
    color: #236b12;
    font-weight: 600;
    font-family: cursive;
    font-size: 35px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.button {
    width: 170px;
    height: 45px;
    border-radius: 20px;
    background: #dacc14;
    color: #424242;
    align-self: start;
    font-weight: 600;
    font-family: cursive;
    font-size: 23px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.button:hover {
    background: #f3ff47;
}

.solution {
    background: #dacc14;
    height: max-content;
    width: 100%;
    font-size: 30px;
    padding: 20px 5px 20px 20px;
    color: #1f1f1f;
    display: flex;
    flex-direction: column;
    display: none;
    box-shadow: #1a2533 10px 10px 20px;
}

.solution-title {
    font-size: 50px;
    color: #2e2e2e;
    margin: 10px 0 30px;
}

.coefficients {
    white-space: pre-wrap;
}

.root-margin {
    margin-top: 30px;
}

.discriminant {
    white-space: pre-wrap;
}

.root {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: max-content;
}

.root-card {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    justify-items: center;
    white-space: pre-wrap;
}

.line {
    width: 100%;
    height: 1px;
    background: #2b2b2b;
}

.green {
    color: #236b12;
    font-family: cursive;
    font-weight: 600;
}

@media (max-width: 730px) {
    .section {
        width: 80%;
    }

    .equation {
        font-size: 20px;
    }

    .input {
        height: 20px;
        font-size: 20px;
    }

    .solution {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    .solution {
        font-size: 15px;
    }
}

.a-zero {
    color: rgb(150, 22, 22);
}

.root-3 {
    display: none;
    white-space: pre-wrap;
}
